# Default fallback
:80 {
    respond "VPS mihsan — OK" 200
}

# tumbuh.us services
bot.tumbuh.us {
    reverse_proxy host.docker.internal:9877
}

nyerat.tumbuh.us {
    reverse_proxy nyerat:80
}

# product-sid.us
transcribe.product-sid.us {
    reverse_proxy transcribe:5000
}

ican.product-sid.us {
    root * /srv/sites/ican
    file_server
    try_files {path} {path}/index.html
}

figma.product-sid.us {
    tls {
        issuer acme {
            disable_tlsalpn_challenge
        }
    }
    reverse_proxy host.docker.internal:3030
}

code.product-sid.us {
    reverse_proxy code-server:8443
}

terminal.product-sid.us {
    reverse_proxy host.docker.internal:7681
}


quiz.product-sid.us {
    reverse_proxy quiz:3500
}


risa.product-sid.us {
    reverse_proxy risa:5001
}
